<div [ngClass]="tailwindClass" class="flex flex-col h-screen w-[32.5rem] relative p-2">
  <div class="flex justify-between px-4 py-6 h-[45%]">
    <div class="flex gap-4">
      <a class="cursor-pointer hover:opacity-80 transition-opacity" (click)="goBack()">
        <img src="assets/icons/chevron-back.svg" alt="">
      </a>
      <h1 class="text-3xl text-white font-bold">{{ pokemonDetails?.name | titlecase }}</h1>
    </div>
    <span class="text-xl text-white">#{{ pokemonDetails?.id }}</span>
    <img src="assets/imgs/pokedex.svg" alt="pokedex" class="absolute right-3">
  </div>

  <div *ngIf="pokemonDetails" class="flex flex-col w-full h-full bg-grayscale-white relative rounded-xl shadow-pokemon-detail-card pt-14 pr-5 pb-5 pl-5">
    <img [src]="pokemonImage" alt="{{ pokemonDetails.name }}" class="w-[16.5rem] absolute right-[25%] top-[-30%] animate-slide-in-left">

    <!-- Pokemon Card Badge -->
    <app-pokemon-card-badge [pokemonDetails]="pokemonDetails"></app-pokemon-card-badge>

    <!-- Pokemon Card Description -->
    <app-pokemon-card-description [pokemonDetails]="pokemonDetails"></app-pokemon-card-description>

    <!-- Pokemon Card Info -->
    <app-pokemon-card-info [pokemonDetails]="pokemonDetails"></app-pokemon-card-info>

    <!-- Pokemon Description -->
    <div class="pokemon-description px-4">
      <span class="text-grayscale-dark">{{ pokemonDescription }}</span>
    </div>
  </div>
</div>
