<div class="flex justify-between px-10 py-8">
  <!-- Peso -->
  <div class="flex flex-col items-center justify-center gap-2">
    <div class="flex gap-2">
      <img src="assets/icons/weight.svg" alt="Weight" class="w-[1.5rem] h-[1.5rem]">
      <span class="text-grayscale-dark">{{ weight }}</span>
    </div>
    <span class="text-grayscale-medium">Weight</span>
  </div>

  <div class="h-[4rem] w-[0.0625rem] bg-grayscale-light"></div>

  <!-- Altura -->
  <div class="flex flex-col items-center justify-center gap-2">
    <div class="flex gap-2">
      <img src="assets/icons/height.svg" alt="Height" class="w-[1.5rem] h-[1.5rem]">
      <span class="text-grayscale-dark">{{ height }}</span>
    </div>
    <span class="text-grayscale-medium">Height</span>
  </div>

  <div class="h-[4rem] w-[0.0625rem] bg-grayscale-light"></div>

  <!-- Habilidades -->
  <div class="flex flex-col items-center justify-center">
    <ng-container *ngFor="let ability of abilities; let i = index">
      <span class="text-grayscale-dark">{{ ability | titlecase }}</span>
    </ng-container>
    <span class="text-grayscale-medium">Moves</span>
  </div>
</div>
