<div class=" bg-identity-primary flex flex-col h-screen w-[32.5rem]">
  <div class="flex flex-col p-4">
    <img src="assets/imgs/logo.svg" alt="Logo" class="h-[46px] w-[250px] mb-4" />
    <app-search-bar
      [placeholder]="'Search Pokémon...'"
      (search)="handleSearch($event)"
    ></app-search-bar>
  </div>
  <div class="h-full">
    <app-pokemon-list *ngIf="(pokemons$ | async) as pokemons; else empty" [pokemons]="pokemons"></app-pokemon-list>
    <ng-template #empty>
      <p>Loading...</p>
    </ng-template>
  </div>
</div>
